* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Oswald, sans-serif;
}

header {
    width: 80%;
    height: 250px;
    background-color: #3E3A3A;
    margin: auto;
    text-align: center;
}

h1{
	font-size: 16px;
	font-weight: lighter;
	margin-bottom: 30px;
	margin-top: -25px;
	padding: 0;
	color: white;
}

nav{
	margin: auto;
	width: 100%;
	padding: 10px;
	list-style:none;
}

.topnav {
  	overflow: hidden;
 	background-color: #781214;
 	display: inline-block;
 	float: left;
}

.topnav a {
	text-align: center;
  	color: #f2f2f2;
	padding: 25px 50px;
	text-decoration: none;
	font-size: 18px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.logo {
	margin-top: 20px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: static;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin: auto;
  }
}

.quote{
	margin: auto;
	background-color: red;
}




